.snake-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.game-board {
 display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #222;
}

.snake {
  background-color: limegreen;
}

.food {
  background-color: crimson;
}

.game-over {
  position: absolute;
  background: #000000aa;
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
}
