/* games.css */
.game-header {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.game-card {
  border: 1px solid #333;
  padding: 16px;
  border-radius: 8px;
}
.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}